<!DOCTYPE html>
<html>
    <head>
        <title>Simplist - Mongo, Express, Node, SPA</title>
        
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" rel="stylesheet">
        <!-- render static files via 'href', not 'src' -->
        <link href="index.css" rel="stylesheet" type="text/css">
        
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    
    <body>
        <h1>simp<span class="header-list">list</span></h1>
        <h3>simple todo list app<br />built with node, express and mongo</h3>
        
        <section class="form">
            <input type="text" class="todoInput" id ="todoInput" placeholder="write new todo..">
        </section>
        
        <ul class="list">
            
        </ul>
        
        <script src="app.js" type="text/javascript"></script>
    </body>
</html>